*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

header {
    padding: 40px 0px 40px 72px;
}
.menu {
    display: flex;
    gap: 32px;
    align-items: center;
    padding: 10px 20px;
    /* justify-content: space-between; */
    /* width: 50%; */
}

.item {
padding: 0 10px 0 10px;
}

.menu h3{
    font-size: 1.3rem;
    font-weight: 400;
    color: #C4C4CC;
 
}

.menu .selected{
    font-weight: 700;
    font-size: 1.5rem;
    /* color: red; */
    color:#FFFFFF;
}

.heading h1{
    font-size: 48px;
}

body {
    margin: 0;
    height: 100vh; 
    background-image: url("./assets/mountains-universe-1\ 1.svg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    color: #E1E1E6;
    text-align: center;
    display: flex; /* Define o body como um container flex */
    flex-direction: column; /* Empilha os elementos filhos do body verticalmente */

}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
    display: flex; /* Aplica flex ao conteúdo do main */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: column;
    gap: 24px;
}

button {
    /* height:3rem;
    width: 12.18rem; */
    border-radius:0.31rem;
    cursor: pointer;
    background: transparent; 
    border: 3px solid FFFFFF;
    font-size: 0.87rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-color: #FFFFFF;
    font-size: 0.87rem;
    text-align: center;
    padding: 12px 32px;
}

button h6 {
    font-size: 14px;
}


a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: #C4C4CC;
}
